# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# macOS
.DS_Store

# VS Code
.vscode/

# Trained models
*.keras
*.h5

# Dataset
dataset/*
!dataset/.gitkeep

# TensorFlow checkpoints
checkpoints/

# TensorBoard logs
logs/

# Python cache
.pytest_cache/